[section:ML]
JSON = {"id": 101,"nlp": ["w1", "w2", "w3","w4","w5"]}
[section:service]
JSON = {"brands": ["b1","b2","b3"],"products": ["prod1", "prod2", "prod3"]}
[section:request]
JSON = {}


"""
task1: read the content from individual sections and print it

task2: take one nlp word as an input form user and add it to the file

task: take brand as input and add to file

please remove the tasks before working on them
"""